.sidenav-container {
  display: flex;
  flex-flow: column;
  height: 100%;

  & .sidenav .mat-toolbar {
    background: inherit;
    width: 200px;
  }

  & mat-sidenav-content {

    & mat-toolbar{
      position: fixed;
      top: 0;
      z-index: 1;

      & button{
        margin-right: 10px;
      }
    }
    & main {
      height: 100%;

      & span{
        height: 100%;
        width: 100%;
      }
    }
  }
}