.status-container {
  position: relative;
  height: 100%;

  & .centerContentFull {
    position: relative;
    top: 30%;
  }

  & .centerContentMD {
    position: relative;
    top: 12%;
  }

  & .centerContentS {
    position: relative;
    top: 10%;
  }

  & mat-spinner{
    margin-right: auto;
    margin-left: auto;
  }

  & mat-card {
    max-width: 450px;
    min-width: 350px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  mat-slide-toggle {
    min-width: 150px;
    margin: 30px;
  }
  span {
    font-size: 40pt;
    margin: 30px;
  }
   & mat-progress-bar {
     margin-top: 22px;
     margin-bottom: 22px;
   }
}