<div class="machineStatusContainer">
  <mat-grid-list  cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <ng-container>
        <button mat-fab>
          <mat-icon aria-label="start coffeemachine">flash_on</mat-icon>
        </button>
      </ng-container>
      <ng-container>
        <button mat-fab>
          <mat-icon aria-label="stop coffeemachine">flash_off</mat-icon>
        </button>
      </ng-container>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</div>
